<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Datos Visitante</title>
<link rel="stylesheet" th:href="@{/css/normalize.css}" />
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body
	style="height: 100%; margin: 0; display: flex; flex-direction: column;">

	<form th:action="@{/home/validarVisitantes}" method="get"
		style="margin-top: auto; margin-bottom: auto">

		<h1>Consultar Visitante</h1>

		<fieldset>
			<label for="temperatura">Numero de documento:</label> <input
				type="text" id="cocumento" name="documento">
		</fieldset>


		<button type="submit">Consultar</button>
		<button>
			<a th:href="@{/home}">Regresar</a>
		</button>
	</form>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script th:if="${error != null}" type="text/javascript">
		$(document).ready(function() {
			var toastHTML = '<span>' + "[[${error}]]" + '</span>';
			M.toast({
				html : toastHTML
			});
		});
	</script>
	<script th:if="${success != null}" type="text/javascript">
		$(document).ready(function() {
			var toastHTML = '<span>' + "[[${success}]]" + '</span>';
			M.toast({
				html : toastHTML
			});
		});
	</script>

</body>

</html>
</body>

</html>